body {
	font-family: "Roboto", sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}

.mdc-layout-grid {
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
	margin: 0 0 20px;
	font-size: 36px;
	text-align: center;
}

.film {
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #fafafa;
}

.title {
	margin-bottom: 10px;
}

.description {
	margin-bottom: 20px;
}

.actors {
	margin-top: 20px;
}

.film h2 {
	margin: 0;
	font-size: 24px;
}

.film p {
	margin: 0;
	line-height: 1.5;
}

.loader {
	border: 5px solid #f3f3f3;
	border-top: 5px solid #3498db;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	margin: 20px auto;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

@media only screen and (max-width: 768px) {
	.mdc-layout-grid {
		padding: 10px;
	}
}

@media only screen and (max-width: 480px) {
	.film h2 {
		font-size: 20px;
	}

	.film p {
		font-size: 14px;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
