body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

#root {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f9f9f9;
	border-radius: 5px;
}

.error {
	color: red;
}
