body {
	font-family: Arial, sans-serif;
	background-color: #f6f8fa;
	margin: 0;
	padding: 0;
}

header {
	background-color: #4c75af;
	color: #fff;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	background-color: #ebe6e6;
	color: #4c75af;
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	cursor: pointer;
	margin: 20px;
	transition:
		background-color 0.3s,
		color 0.3s;
}
button:hover {
	background-color: #c82333;
	color: #fff;
}

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	margin: auto;
	margin-top: 50px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 600px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.modal-content input[type="text"],
.modal-content textarea {
	width: 100%;
	max-width: 400px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.close {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	transition: color 0.3s;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
}

#postsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 600px;
}

.card h2 {
	margin-bottom: 10px;
}

.card p {
	margin-bottom: 20px;
}

.card button {
	background-color: #dc3545;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.card button:hover {
	background-color: #c82333;
}